@font-face {
    font-family: "StrongConcrete";
    src: url(./fonts/StrongConcrete.otf);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section{
    position: relative;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

.tabla{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: 350px;
    height: 400px;
    border-top: 5px solid black ;
    border-bottom: 5px solid black ;
    border-left: 5px solid black ;
}

body.dark .tabla{
    background-color: #ffffff;
}

.tabla.deshabilitar{
    pointer-events: none;
}

.fila{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 5px solid black;
}

.fila:last-child{
    border: none;
}

.cuadrado{
    width: 115px;
    border-right: 5px solid black;
    text-align: center;
    overflow: hidden;
}

.cartel{
    position:absolute;
    top:calc(30% - 50px);
    left:0;
    width:100%;
    height:50%;
    background-color: rgba(0,0,0,0.5);
}

.turno{
    background-color: black;
    color: white;
}

.mensajes{
    display: none;
}

.mensajes_texto{
    text-transform: uppercase;
    padding: 10px;
}

.mensajes.activo{
    display: block;
    position:absolute;
    top:calc(30% - 50px);
    left:0;
    width:100%;
    padding: 100px 0px;
    background-color: black;
    font-family: "StrongConcrete";
    font-size: 50px;
    color: white;
    text-align: center;
}

body.dark .mensajes.activo{
    background-color: #181818
}

.messages{
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    font-family: "StrongConcrete";
    padding: 0 15px;
    font-size: 30px;
}

.title{
    text-decoration: none; 
    color: white;
}

.time-messages{
    margin: 0px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-messages #text{
    font-size: 14px;
}

.player-messages{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.player-text{
    font-size: 14px;
}

.user-name{
    /* font-size: 20px; */
    text-transform: uppercase;
}

.shift-messages{
    font-size: 30px;
    text-align: center;
    width: 30%;
    height: 100%;
    padding: 30px 0px;
}

.jugar_de_nuevo_container{
    visibility: hidden;
}

.jugar_de_nuevo_container.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    font-family: "StrongConcrete";
    text-align: center;
    visibility: visible;
}

.jugar_de_nuevo_container a, .play_again_buttom{
    color: white;
    text-decoration: none;
    padding: 20px 10px;
    font-size: 20px;
    background-color: black;
}
.footer-section{
    font-size: 14px;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body.dark .footer-section a{
    padding: 20px 10px;
    color: #fff;
}

.footer-section a{
    padding: 20px 10px;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

#modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.9);
    font-family: "StrongConcrete";
}

#modal.active{
    display: block;
}

.modal-content{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
}
.modal-content #simbolo{
    text-align: center;
    display: block;
    font-size: 100px;
    font-weight: 900;
}
.modal-content h2{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}

.modal-content input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    border: none;
    border-bottom: 2px solid #ccc;
    font-family: "StrongConcrete";
    outline: none;
    cursor: none;
    caret-color: transparent;
}

.message-error{
    display: none;
}

.message-error.active{
    display: block;
    text-align: center;
    font-size: 16px;
    color: red;
    margin-bottom: 20px;
}

.modal-content input::placeholder{
    font-family: "StrongConcrete";
    font-size: 20px;
}

.modal-content input:focus{
    text-decoration: none;
    border: none;
    border-bottom: 2px solid #ccc;
}
.modal-content input:active{
    text-decoration: none;
    border: none;
    border-bottom: 2px solid #ccc;
}

.play_again{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.icon{
    background-color: black;
    padding: 15px 10px;
}

.modal-content button{
    width: 100%;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    font-family: "StrongConcrete";
}

#ranking{
    margin: 30px;
    text-align: center;
}

@media screen and (max-width: 768px){
    .messages{
        display: flex;
        font-size: 20px;
        padding: 0;
    }
    .time-messages{
        width: 50%;
    }
    .title{
        display: none;
    }
    .time-messages{
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 50%;
    }
    .player-messages{
        margin: 0 20px;
    }
    .mensajes.activo{
        padding: 50px 10px;
        top: calc(40% - 50px);
        font-size: 30px;
    }
    .mensajes_texto{
        font-size: 20px;
    }
    .section{
        margin: 45px 0px;
    }
    .modal-content{
        width: 80%;
        padding: 50px 20px;
    }
    .modal-content h2{
        font-size: 20px;
    }
    .modal-content #ranking{
        margin: 15px 0;
    }
    .play_again{
        gap: 10px;
    }
    .jugar_de_nuevo_container a, .play_again_buttom{
        color: white;
        text-decoration: none;
        padding: 22px 5px;
        font-size: 15px;
        background-color: black;
    }
}